.body{
	padding: 10px;
}

.header{
	 background-color: blanchedalmond;
	 text-align: center;
	 font-size: 35px;
	 padding: 40px;
}

.nav_bar{
	z-index: 1;
	position: fixed;
	overflow: hidden;
	display: block;
	background-color: #333;
	transition: top .3s;
}
.nav_bar a{
	float: left;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 10px 20px;
	text-decoration: none;
	font-size: 17px;
}
.nav_bar a:hover {
	background-color: #ddd;
	color: black;
  }

.nav_bar a.active {
	background-color: #4CAF50;
	color: white;
}

.footer{
 	background-color: blanchedalmond;
}